<div class="h-full">
  <!--Nav-->
  {{!-- <div class="w-full container mx-8 my-8">
    <div class="w-full flex items-center justify-between">
      <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
        href="#">
        COVID VENUE <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">&nbsp;TRACKER</span>
      </a>
    </div>
  </div> --}}

  <!--Main-->
  <div>
    <!--Left Col-->
    <div class="flex flex-col w-full xl:w-full justify-center overflow-y-hidden">
      <h1
        class="my-4 mx-auto text-4xl md:text-3xl text-white opacity-75 font-bold leading-tight text-center md:text-center">
        Check your favorite
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
          spots
        </span>
        for covid related info.
      </h1>

      <form class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-10 pt-6 pb-8 my-10" id="signUpEl">
        <div class="mb-4">

          <label class="block text-lg text-white py-2 font-bold my-3">
            Sign up to join
          </label>
          <label class="block text-blue-300 py-2 font-bold my-3" for="username">
            Username
          </label>
          <input
            class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
            id="username-signup" type="text" placeholder="John123" required="required" />

          <label class="block text-blue-300 py-2 font-bold my-3" for="emailaddress">
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
            id="emailaddress-signup" type="email" placeholder="you@somewhere.com" required="required" />

          <label class="block text-blue-300 py-2 font-bold my-3" for="password">
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
            id="password-signup" type="password" placeholder="*********" required="required" />

          {{!-- <label class="block text-blue-300 py-2 font-bold mb-2" for="emailaddress">
            City
          </label>
          <input
            class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
            id="city" type="text" placeholder="Los Angeles" /> --}}

        </div>

        <div class="flex items-center justify-between pt-4">
          <button id="signup-form"
            class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
            type="submit">
            Sign Up
          </button>
          or
          <a href="/login">
            <button
              class="justify-end bg-gradient-to-r from-yellow-800 to-yellow-500 hover:from-yellow-500 hover:to-blue-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
              type="button">
              Sign In Here
            </button>
          </a>
        </div>
      </form>
  
      <div class="relative p-16 pb-32 rounded space-y-10 overflow-hidden mt-20 md:mt-0">
          <div class="absolute left-0 right-0">
             <div class="scroller flex space-x-1 whitespace text-gray-300 text-xs">
                <table class="w-full"> 
                    <tbody class="bg-white divide-y divide-gray-200">
                       {{#each modifiedData}}
                          <tr>
                            <td class="px-4 py-4 whitespace-normal">
                              <div class="flex items-center">
                                <div class="ml-2">
                                  <div class="text-sm font-medium text-gray-900">                      
                                    {{name}}
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td class="px-3 py-4 whitespace-normal">
                              <div class="text-sm text-center text-gray-500">{{zipcode}}</div>
                            </td>
                            <td class="px-3 py-4 whitespace-normal">
                              <div class="text-sm text-center text-gray-500">{{date}}</div>
                            </td>
                            <td class="px-3 py-4 whitespace-normal">
                              <div class="text-sm text-center text-gray-500">{{{mask}}}</div>
                            </td>
                            <td class="px-3 py-4 whitespace-normal">
                              <div class="text-sm text-center text-gray-500">{{{distance}}}</div>
                            </td>
                            <td class="px-3 py-4 whitespace-normal">
                            <div class="text-sm text-center text-gray-500">{{sanitizer}}</div>
                          </td>
                          <td class="px-3 py-4 whitespace-normal">
                            <div class="text-sm text-center text-gray-500">{{vaccineCard}}</div>
                          </td>
                          <td class="px-3 py-4 whitespace-normal">
                            <div class="text-sm text-left text-gray-500">{{comment}}</div>
                          </td>
                      {{/each}}
                   </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
  
  </div>
    
  </div>
 
  </div>
</div>
</div>

<script src="/js/signup.js"><script>
    <script src="/js/login.js"></script>